body {
  background-image: url("../public/background.jpg");
  background-color: #cccccc;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#floattingBox {
  box-sizing: border-box;
  /*background-color: #3b3838;*/
  background-color:rgba(255,255,255, 0.5);
  min-height: 70vh;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  width: 60%;
}

.App-link {
  color: #61dafb;
}
.topnav {
  overflow: hidden;
  background-color: rgb(39, 39, 39);
}
.topnav h1 {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}
.topnav b {
  float: right;
  color: #dbd5d9;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
}
h1 h2 h3 h4 {
  color:"white",
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 26px;
}

input[type="submit"]
{
    background: transparent;
    border: none;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 18px;
}
.topnav a:hover {
  background-color: rgb(100, 74, 96);
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
